@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-level1: #4b4b4b;
  --color-level2: #006188;
  --color-level3: #6e008a;
  --color-level4: #bbae00;
}

@layer base {

  html,
  body {
    padding         : 0;
    margin          : 0;
    font-family     : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight     : 300;
  }

  a {
    text-decoration: none;
  }

  b,
  strong {
    font-weight: bold;
  }

  .will-change-transform {
    will-change: transform;
  }
}




* {
  box-sizing: border-box;
}