@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-globalfont: #ffffff;
  --color-globalbg: #39393B;
}

@layer base {

  html,
  body {
    padding         : 0;
    margin          : 0;
    font-family     : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight     : 300;
    color           : var(--color-globalfont);
    background-color: var(--color-globalbg);
  }

  a {
    text-decoration: none;
  }

  b,
  strong {
    font-weight: bold;
  }

  .will-change-transform {
    will-change: transform;
  }
}




* {
  box-sizing: border-box;
}